<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <title>Healthapp</title>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Healthapp</div>
                <a href="/" class="item">Home</a>
                <a href="/data/new" class="item">New Post</a>
                <a href="/register" class="item">Signin</a>
                <a href="/login" class="item">Login</a>
                <a href="/logout" class="item">logout</a>
            </div>
        </div>
    